# ML
numpy
jupyterlab
notebook
scipy
Matplotlib
scikit-learn
pandas

# vector database
chromadb

# to clear notebook metadata changes (unnecessary diffs)
nbstripout

# mcp sdk
mcp # includes fastmcp v1.0
# fastmcp is a fork of mcp sdk with optimizations and additional features.
fastmcp # v2.0 or higher
